.alarm-badge{
    background-color: rgb(255, 75, 39);
    color : #fff;
    width : 17px;
    height: 17px;
    display : flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-weight: 800;
    font-size: 0.8rem;
}