#friends-display-link{
    display : flex;
    justify-content: center;
    align-items: center;
    background-color: #fafafa;
    padding : 15px 0;
    p{
        font-weight: 500;
        color : rgba(0,0,0,.8);
    }
}

#friends-display-link{
    svg{
        width : 18px;
        height: 18px;
        fill : rgba(0,0,0,.3);
        margin-right: 8px;
    }
}