#navigation-bar{
    position : fixed;
    bottom :0;
    width : 100%;
    border-top: 1px solid rgba(121,121,121,.3);
    background-color: $booking-color-navback;
    padding : 20px 20px;
    box-sizing: border-box;
    .nav__list{
        display : flex;
        justify-content: space-between;
        .nav__btn{
            position:relative;
            .nav__notification{
                position : absolute;
                right : -8px;
                top : -5px;
            }
            svg{
                width :22px;
                height: 22px;
                fill : #2e363e;
            }
        }
    }
}