@import url("https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
body {
  min-width: 320px;
  line-height: normal;
  font-size: 14px;
  color: #000;
  scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
input,
textarea,
select,
table,
button,
code {
  font-family: "Quicksand", sans-serif;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ul,
ol,
li {
  list-style: none;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
a:hover, a:focus {
  text-decoration: none;
}

input:focus {
  outline: none;
}

.m-padding {
  padding-top: 30px;
  padding-right: 25px;
  padding-left: 25px;
}

#status-bar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 5px 8px;
}
#status-bar span {
  font-size: 14px;
  font-weight: 500;
}
#status-bar svg {
  width: 17px;
  height: 17px;
}
#status-bar .status-bar__column {
  width: 33%;
  display: flex;
  align-items: center;
}
#status-bar .status-bar__column:nth-child(1) span {
  margin-right: 4px;
}
#status-bar .status-bar__column:nth-child(2) {
  display: flex;
  justify-content: center;
}
#status-bar .status-bar__column:nth-child(3) {
  display: flex;
  justify-content: flex-end;
}
#status-bar .status-bar__column:nth-child(3) span {
  margin-right: 4px;
}
#status-bar .status-bar__column:nth-child(3) .status-battery {
  width: 20px;
  height: 20px;
}
#status-bar .status-bar__column:nth-child(3) .status-lightening {
  width: 10px;
  height: 10px;
}

#friend-nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid rgba(121, 121, 121, 0.3);
  background-color: #f9f9fa;
  padding: 10px 20px;
  box-sizing: border-box;
}
#friend-nav .friend-nav__list {
  display: flex;
  justify-content: space-between;
}
#friend-nav .friend-nav__list .friend-nav__btn {
  position: relative;
}
#friend-nav .friend-nav__list .friend-nav__btn .nav__notification {
  position: absolute;
  right: -8px;
  top: -5px;
  background-color: rgb(255, 75, 39);
  color: #fff;
  width: 17px;
  height: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-weight: 600;
  font-size: 0.8rem;
}
#friend-nav .friend-nav__list .friend-nav__btn svg {
  width: 22px;
  height: 22px;
  fill: #2e363e;
}

#welcome-header {
  margin: 90px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 500;
}
#welcome-header .welcome-header__title {
  margin-bottom: 20px;
  font-size: 25px;
}
#welcome-header .welcome-header__text {
  width: 50%;
  font-size: 14px;
  opacity: 0.7;
}

#login-form {
  display: flex;
  flex-direction: column;
  margin: 0 30px;
}
#login-form input {
  padding: 15px 0;
  margin-bottom: 25px;
  border: 0;
  font-size: 18px;
  transition: border-bottom 0.3s ease-in-out;
}
#login-form input:nth-child(1), #login-form input:nth-child(2) {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
#login-form input:nth-child(3) {
  padding: 20px 0;
  background-color: #fae100;
  border-radius: 5px;
  font-weight: 600;
  cursor: pointer;
  transition: opacity 0.3s;
}
#login-form input:nth-child(3):hover {
  opacity: 0.8;
}
#login-form input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}
#login-form input:focus:not([type=submit]) {
  border-bottom: 1px solid #fae100;
}
#login-form a {
  text-align: center;
  color: inherit;
  cursor: pointer;
  font-size: 13px;
  transition: opacity 0.3s;
}
#login-form a:hover {
  opacity: 0.8;
}

#screen-header {
  display: flex;
  justify-content: space-between;
}
#screen-header .screen-header__title {
  font-weight: 900;
  font-size: 28px;
}
#screen-header .screen-header__icons {
  display: flex;
  align-items: center;
}
#screen-header .screen-header__icons span {
  margin-left: 25px;
}

#screen-header svg {
  width: 22px;
  height: 22px;
  fill: #2e363e;
}/*# sourceMappingURL=style.css.map */